<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Login to CoronaSafe Engineering Fellowship Application</h1>
<p>
  Hello <%= @user.first_name %>,
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>
  For any questions, please email us at <a href="mailto:fullstack@pupilfirst.org">fullstack@pupilfirst.org</a>
</p>
<p>Thanks for applying and have a great day!</p>
</body>
</html>
