<h2 class="">3. Submit code for programming task</h2>

<div>
  <p class="mb-32">
    To apply for the fellowship, you have to build a command-line program to help you
    <strong>manage your todo list</strong>.
    You'll be given a set of automated tests that'll help you understand how it should work. Once you get all the tests
    to pass, you should then submit the code for review.
  </p>

  <div class="p-8" style="background: rgba(222,227,234,0.91)">
    <ol>
      <li>
        <a href="#1-introduction">Read the introduction</a>
      </li>
      <li>
        <a href="#2-download-starter">Download a starter zip for your language</a>
      </li>
      <li>
        <a href="#3-upload-code">Upload your code</a>
      </li>
    </ol>
  </div>

  <a name="1-introduction" class="block"></a>
  <div>
    <h3 class="mt-32">1. Introduction</h3>
    <p>
      Here's a short video of how the program should work:
    </p>

    <p class="mb-32">
      <a href="https://vimeo.com/490621534">
        <img style="max-width: 100%"
             src="https://res.cloudinary.com/sv-co/image/upload/v1607929404/fullstack-CEF/Todo-CLI/IMG_20201214_123104_159_rtxpcq.jpg" alt="Todo CLI app reference video"/>
      </a>
    </p>

    <p>
      You can spend anywhere from 5 hours to 2 days to build this.
    </p>
    <p>
      To make it easy, you'll be provided clear specifications and automated tests.
    </p>
    <p>Remember, this is <em>not</em> an algorithms challenge &mdash; think of it as just a fun problem to work
      on.
    </p>
    <p>
      We will grade you on whether your code passes all the tests, and on the clarity of the code you write.
    </p>

    <p>
      Once you submit, we will give you kind, helpful feedback on how you can further improve your code.
      This is irrespective of whether you are shortlisted for the fellowship or not!
    </p>
    <p>
      However, we'll be able to provide feedback to only the first 20 students to submit a working solution.
      So if you want to get some free, expert advice on programming, hurry and submit!
    </p>
  </div>

  <a name="2-download-starter" class="block"></a>
  <div>
    <h3 class="mt-32">2. Download a starter zip for your language</h3>
    <p style="color: black">
      <span style="background: yellow">You must use one of the following starter zips to build the application.</span>
    </p>
    <p>
      There is a README file in all the repos below. It contains detailed instructions on what you should build.
    </p>
    <p>
      The repos also come with automated tests. You should run those tests as you're building each feature to
      verify whether they work well.
    </p>
    <p>
      <a href="./javascript">JavaScript starter repo</a>
    </p>
    <p>
      <a href="./ruby">Ruby starter repo</a>
    </p>
    <p>
      <a href="./python">Python starter repo</a>
    </p>
    <p>
      <a href="./java">Java starter repo</a>
    </p>
    <p>
      <a href="./cpp">C++ starter repo</a>
    </p>

    <p>You should use the programming language which you are most comfortable with. If your favourite language is not
      listed here, please email us right away. We'll try to set it up as soon as we can.</p>

    <p>If you are ready, download one of the above zip files and get going! Don't forget to read the README file
      thoroughly before you start work.</p>

    <a name="3-upload-code" class="block"></a>
    <%= form_tag(students_task_path, :multipart => true, method: :put) do %>
      <h3 class="mt-32">3. Upload your code</h3>
      <div class="mb-8">
        <p>Great! Have you completed the program? Now it is time to submit your code. But before that:</p>
        <ul>
          <li>Ensure that all the tests pass.</li>
          <li>Just to be safe, backup your project directory to a different folder in your computer.</li>
        </ul>

        <p>Now let's prepare for upload:</p>
        <ol>
          <li>Remove any binary files, or dependencies like node_modules from your directory. The directory should
            contain only text files like the source, README etc.
          </li>
          <li>If we need to do anything extra to make the program work on our computers, add those instructions to the
            README.
          </li>
          <li>Compress the directory into a .zip file</li>
        </ol>

        <p><strong>The .zip file must be less than 3mb in size.</strong></p>

        <div class="mb-32" style="padding: 24px; background-color: rgba(237,237,248,0.91); border-radius: 4px;">
          <p>Select the .zip file from your computer:</p>
          <%= file_field_tag 'solution_zip_file', accept: "zip,application/zip,application/x-zip,application/x-zip-compressed" %>
        </div>
        <p class="mb-32 p-8">
          <%= submit_tag "Upload the .zip file", data: { confirm: "You can only submit once (you'll have to email us otherwise). So make sure everything is in order. Go ahead with the upload?" } %>
        </p>

      </div>
    <% end %>
  </div>
</div>
