<div class="text-white text-lg md:text-3xl font-bold">3. Programming task and submission</div>

<div>
  <p class="font-spacemono text-base md:text-lg mb-8 text-white mt-4">
    To apply for the fellowship, you have to build a command-line program to help you
    <strong>manage your todo list</strong>.
    You'll be given a set of automated tests that'll help you understand how it should work. Once you get all the tests
    to pass, you should then submit the code for review.
  </p>

  <div class="font-spacemono space-y-6 lg:space-y-8 p-4 lg:p-6 bg-black rounded-lg shadow">
    <div class="flex"><span class="text-primary-500 text-xl">➞</span>
      <p class="pl-3 text-base md:text-xl"><span class="text-primary-500">Read</span> the Instructions</p>
    </div>
    <div class="flex"><span class="text-primary-500 text-xl">➞</span>
      <p class="pl-3 text-base md:text-xl"><span class="text-primary-500">Download</span> a starter zip for your
        language</p>
    </div>
    <div class="flex"><span class="text-primary-500 text-xl">➞</span>
      <p class="pl-3 text-base md:text-xl"><span class="text-primary-500">Upload</span> your code</p>
    </div>
  </div>

  <a name="1-introduction" class="block"></a>
  <div>
    <div class="text-primary-500 mt-16 text-xl md:text-2xl font-bold">1. Introduction</div>
    <p class="text-white mt-4 text-base md:text-lg">
      Here's a short video of how the program should work:
    </p>

    <div class="mb-8">
      <a class="rounded overflow-hidden shadow" target="_blank" href="https://vimeo.com/490621534">
        <img style="max-width: 100%" src="https://res.cloudinary.com/sv-co/image/upload/v1607935139/fullstack-CEF/Todo-CLI/play-video-demo_fp50wp.png" alt="Todo CLI app reference video"/>
      </a>
    </div>
    <div class="text-base md:text-lg">
      <p class="mt-4">
        You can spend anywhere from 5 hours to 2 days to build this.
      </p>
      <p class="mt-4">
        To make it easy, you'll be provided clear specifications and automated tests.
      </p>
      <p class="mt-4">Remember, this is <em>not</em> an algorithms challenge &mdash; think of it as just a fun problem
        to
        work
        on.
      </p>
      <p class="mt-4">
        We will grade you on whether your code passes all the tests, and on the clarity of the code you write.
      </p>

      <p class="mt-4">
        Once you submit, we will give you kind, helpful feedback on how you can further improve your code.
        This is irrespective of whether you are shortlisted for the fellowship or not!
      </p>
      <p class="mt-4">
        However, we'll be able to provide feedback to only the first 20 students to submit a working solution.
        So if you want to get some free, expert advice on programming, hurry and submit!
      </p>
    </div>
  </div>

  <a name="2-download-starter" class="block"></a>
  <div>
    <div class="text-primary-500 mt-16 text-xl md:text-2xl font-bold">2. Download a starter zip for your language</div>

    <div class="p-4 bg-primary-500 text-black rounded mt-4">You must use one of the following starter zips to build the
      application.
    </div>
    <div class="space-y-6 pt-4 text-base md:text-lg">
      <p>
        There is a README file in all the repos below. It contains detailed instructions on what you should build.
      </p>
      <p>
        The repos also come with automated tests. You should run those tests as you're building each feature to
        verify whether they work well.
      </p>
      <div class="space-y-6">
        <a class="flex items-center justify-between bg-gray-900 text-white w-full text-base md:text-lg p-4 rounded-lg border border-gray-500 transition duration-250 ease-in-out" href="./javascript">
          <div class="flex items-center">
            <i class="fab fa-fw fa-js text-primary-500 text-2xl"></i><span class="pl-3">JavaScript starter repo</span>
          </div>
          <div>
            <svg class="w-7 h-7 text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
          </div>
        </a>
        <a class="flex items-center justify-between bg-gray-900 text-white w-full text-base md:text-lg p-4 rounded-lg border border-gray-500 transition duration-250 ease-in-out" href="./ruby">
          <div class="flex items-center">
            <i class="fas fa-fw fa-gem text-primary-500 text-2xl"></i><span class="pl-3">Ruby starter repo</span>
          </div>
          <div>
            <svg class="w-7 h-7 text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
          </div>
        </a>
        <a class="flex items-center justify-between bg-gray-900 text-white w-full text-base md:text-lg p-4 rounded-lg border border-gray-500 transition duration-250 ease-in-out" href="./python">
          <div class="flex items-center">
            <i class="fab fa-fw fa-python text-primary-500 text-2xl"></i><span class="pl-3">Python starter repo</span>
          </div>
          <div>
            <svg class="w-7 h-7 text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
          </div>
        </a>
        <a class="flex items-center justify-between bg-gray-900 text-white w-full text-base md:text-lg p-4 rounded-lg border border-gray-500 transition duration-250 ease-in-out" href="./java">
          <div class="flex items-center">
            <i class="fab fa-fw fa-java text-primary-500 text-2xl"></i><span class="pl-3">Java starter repo</span>
          </div>
          <div>
            <svg class="w-7 h-7 text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
          </div>
        </a>
        <a class="flex items-center justify-between bg-gray-900 text-white w-full text-base md:text-lg p-4 rounded-lg border border-gray-500 transition duration-250 ease-in-out" href="./cpp">
          <div class="flex items-center">
            <i class="fab fa-fw fa-cuttlefish text-primary-500 text-2xl"></i><span class="pl-3">C++ starter repo</span>
          </div>
          <div>
            <svg class="w-7 h-7 text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
          </div>
        </a>
        <a class="flex items-center justify-between bg-gray-900 text-white w-full text-base md:text-lg p-4 rounded-lg border border-gray-500 transition duration-250 ease-in-out" href="./c">
          <div class="flex items-center">
            <i class="fab fa-fw fa-cuttlefish text-primary-500 text-2xl"></i><span class="pl-3">C starter repo</span>
          </div>
          <div>
            <svg class="w-7 h-7 text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="space-y-6 pt-4 text-base md:text-lg">
      <p>You should use the programming language which you are most comfortable with. If your favourite language is not
        listed here, please email us right away. We'll try to set it up as soon as we can.</p>
      <p>If you are ready, download one of the above zip files and get going! Don't forget to read the README file
        thoroughly before you start work.</p>
    </div>

    <a name="3-upload-code" class="block"></a>
    <%= form_tag(students_task_path, :multipart => true, method: :put) do %>
      <div class="text-primary-500 mt-16 text-xl md:text-2xl font-bold">3. Upload your code</div>
      <div class="mb-8 text-base md:text-lg">
        <p class="mt-4">Great! Have you completed the program? Now it is time to submit your code. But before that:</p>
        <ul class="ml-2 md:ml-6 mt-4 space-y-4">
          <li class="flex items-start">
            <span>
              <svg class="w-8 h-8 text-primary-500 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
              </svg>
            </span>
            <span>
              Ensure that all the tests pass.
            </span>
          </li>
          <li class="flex items-start">
            <span>
              <svg class="w-8 h-8 text-primary-500 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
              </svg>
            </span>
            <span>
              Just to be safe, backup your project directory to a different folder in your computer.
            </span>
          </li>
        </ul>
        <p class="mt-6 text-xl font-bold">Now let's prepare for upload:</p>
        <ol class="ml-2 md:ml-6 mt-4 space-y-4">
          <li class="flex items-start">
            <span>
              <svg class="w-8 h-8 text-primary-500 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
              </svg>
            </span>
            <span>
              Remove any binary files, or dependencies like node_modules from your directory. The directory should contain only text files like the source, README etc.
            </span>
          </li>
          <li class="flex items-start">
            <span>
              <svg class="w-8 h-8 text-primary-500 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
              </svg>
            </span>
            <span>
              If we need to do anything extra to make the program work on our computers, add those instructions to the README.
            </span>
          </li>
          <li class="flex items-start">
            <span>
              <svg class="w-8 h-8 text-primary-500 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
              </svg>
            </span>
            <span>
              Compress the directory into a .zip file
            </span>
          </li>
        </ol>

        <p class="mt-6 inline-block rounded px-2 text-base text-gray-100 bg-gray-900">The .zip file must be less than
          3mb in size.</p>
        <div class="mt-2 rounded-lg shadow">
          <p class="text-primary-900 font-bold pb-4">Select the .zip file from your computer:</p>
          <div class="flex items-center relative bg-gray-900 border-2 border-gray-300 border-dashed rounded-md hover:shadow-xl hover:border-primary-500">
            <div class="relative z-10 pl-7 py-7">
              <i class="fas fa-file-archive text-3xl text-gray-300 fa-fw"></i>
            </div>
            <%= file_field_tag 'solution_zip_file', accept: "zip,application/zip,application/x-zip,application/x-zip-compressed", class: "cursor-pointer z-30 pl-20 w-full p-8 text-white absolute inset-x-0" %>
          </div>
        </div>
        <div class="flex items-start mt-4">
          <%= check_box("form", "terms_agreed", class: "mr-4 block bg-gray-900 rounded focus:ring-1 focus:ring-primary-500", required: true) %>
          <div>
          <span class="block text-sm md:text-base text-white">
             I confirm that this is an original solution, written only by me, and that I haven't made this solution public, or shared it with anyone else.
          </span>
            <p class="mt-2 text-xs text-white">
              Applications containing a plagiarized or publicized solution will be rejected.
            </p>
          </div>
        </div>

        <p class="my-8">
          <%= submit_tag "Upload the .zip file", data: { confirm: "You can only submit once (you'll have to email us otherwise). So make sure everything is in order. Go ahead with the upload?" }, class: 'cursor-pointer mt-4 flex items-center justify-center w-full md:w-auto text-center text-base font-medium px-6 py-3 bg-gradient-to-b from-primary-400 to-primary-700 text-gray-900 border border-primary-300 font-montserrat rounded shadow-lg focus:ring-2 focus:ring-primary-200 hover:shadow-xl focus:from-primary-500 focus:to-primary-900 hover:from-primary-600 hover:to-primary-900 transition duration-250 ease-in-out' %>
        </p>

      </div>
    <% end %>
  </div>
</div>
