<p class="highlight">
  We have sent you an email with a login link.
</p>

<p>
  Click on the link to begin your application!
</p>

<p>
  Remember to check your spam folder if you can't find the email in your inbox.
</p>

