<p class="text-white text-lg md:text-xl flex flex-col items-center border border-gray-500 bg-gray-900 rounded-lg p-6 mg:p-8 font-montserrat font-medium">
  <span class="w-14 h-14 rounded-full bg-primary-500 flex justify-center items-center">
    <svg class="w-7 h-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
      <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
    </svg>
  </span>
  <span class="text-sm md:text-base mt-4 text-center">
    We have sent you an email with a login link.
  </span>
</p>

<p class="text-sm md:text-base text-white mt-6">
  Click on the link to begin your application!
</p>

<p class="text-sm md:text-base text-white mt-6">
  Remember to check your spam folder if you can't find the email in your inbox.
</p>
