<p class="text-white font-bold text-2xl">
  We have sent you an email with a login link.
</p>

<p class="mt-4 text-white">
  Click on the link to login to your application dashboard. Once logged in:
</p>
<div class="md:ml-6 mt-4 text-white">
  <div>
    <i class="fas fa-check text-primary-500 mr-2"></i>
    you can submit your application form
  </div>
  <div>
    <i class="fas fa-check text-primary-500 mr-2"></i>
    reveal the programming project
  </div>
  <div>
    <i class="fas fa-check text-primary-500 mr-2"></i>
    upload your code
  </div>
  <div>
    <i class="fas fa-check text-primary-500 mr-2"></i>
    finally, see your application status
  </div>
</div>

<p class="mt-4 text-white">
  Remember to check your spam folder if you can't find the email in your inbox.
</p>

