<p class="text-white text-lg md:text-xl flex flex-col items-center border border-gray-500 bg-gray-900 rounded-lg p-6 mg:p-8 font-montserrat font-medium">
  <span class="w-14 h-14 rounded-full bg-primary-500 flex justify-center items-center">
    <svg class="w-7 h-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
      <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
    </svg>
  </span>
  <span class="text-base md:text-lg mt-4 text-center">We have sent you an email with a login link.</span>
</p>

<p class="text-base md:text-lg mt-4 text-white">
  Click on the link to login to your application dashboard. Once logged in:
</p>
<div class="md:ml-6 mt-4 text-white space-y-4">
  <div class="flex items-start md:items-center">
    <svg class="w-7 h-7 pr-2 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
    </svg>
    You can submit your application form
  </div>
  <div class="flex items-start md:items-center">
    <svg class="w-7 h-7 pr-2 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
    </svg>
    Reveal the programming project
  </div>
  <div class="flex items-start md:items-center">
    <svg class="w-7 h-7 pr-2 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
    </svg>
    Upload your code
  </div>
 <div class="flex items-start md:items-center">
    <svg class="w-7 h-7 pr-2 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
    </svg>
    Finally, see your application status
  </div>
</div>

<p class="text-base md:text-lg mt-4 text-white">
  Remember to check your spam folder if you can't find the email in your inbox.
</p>
