<p>Thank you! You have already submitted an application.</p>

<p class="highlight">
  We have sent you an email with a login link. Click on it to login to your application dashboard.
</p>

<p>
  Once logged in:
</p>
<ul>
  <li>
    you can see the application form you have sent
  </li>
  <li>
    you can see your programming project and start working on it
  </li>
  <li>
    once you complete the project, you can upload the code
  </li>
  <li>
    see the review status of your uploaded code
  </li>
</ul>

<p>
  Remember to check your spam folder if you can't find the email in your inbox.
</p>

