<h2>Your Application</h2>

<ol>
  <li>
    <p class="emphasis mb-0">Submit application form</p>
    <p class="subdued mt-0">Fill in details like your name, date of birth, and so on. Should take 5 to 10 minutes</p>
  </li>
  <li>
    <p class="emphasis mb-0">Reveal programming task</p>
    <p class="subdued mt-0">There is a small programming problem you have to work on. You can take anywhere from 5 hours
      to 2 days to do it.</p>
  </li>
  <li>
    <p class="emphasis mb-0">Submit code for programming task</p>
    <p class="subdued mt-0">Once you've completed the task, upload the code here.</p>
  </li>
  <li>
    <p class="emphasis mb-0">Wait for results!</p>
    <p class="subdued mt-0">We will read through your code, run it, review it, and let you know!</p>
  </li>
</ol>
