<p>What are all the steps?</p>
<div>
  <div class="workflow workflow-complete">
    <p class="emphasis mb-4">
      <span class="w-16 inline-block">1.</span>&nbsp;<span class="">Fill in application form</span>
    </p>
    <p class="subdued mt-0 ml-16">
      Fill in details like your name, date of birth, and so on. Should take 5 to 10
      minutes
    </p>
  </div>

  <div class="workflow workflow-active">
    <p class="emphasis mb-4">
      <span class="w-16 inline-block">2.</span>&nbsp;<span class="">Reveal programming task</span>
    </p>
    <p class="subdued mt-0 ml-16">
      There is a small programming problem you have to work on. You can take anywhere from 5 hours
      to 2 days to do it.
    </p>
  </div>

  <div class="workflow workflow-locked">
    <p class="emphasis mb-4">
      <span class="w-16 inline-block">3.</span>&nbsp;<span class="">Submit code for programming task</span>
    </p>
    <p class="subdued mt-0 ml-16">
      Once you've completed the task, upload the code here.
    </p>
  </div>

  <div class="workflow workflow-locked">
    <p class="emphasis mb-4">
      <span class="w-16 inline-block">4.</span>&nbsp;<span class="">Wait for results!</span>
    </p>
    <p class="subdued mt-0 ml-16">
      We will read through your code, run it, review it, and let you know!
    </p>
  </div>
</div>
