<p>When you are ready to get started, click on Begin</p>
<p>Once you start, you should submit the completed code in 2 days</p>
<p>So only click Begin when you have 2 days to work on this</p>

<%= link_to "See Problem and Start Stuff", student_reveal_task_url %>
