<h2>Evaluation Results</h2>

<% if @student.status_task_submitted? %>

  <h3 class="mt-0">Your submission is currently queued for review</h3>
  <p>
    We have received your task submission.
  </p>
  <p>
    We review all submissions within 3 days of receiving it.
    We will email you with your results once we read your code.
  </p>

  <p>Thanks for taking the time to work through the problem. We hope you enjoyed it. </p>

<% end %>
