<div class="text-white text-lg md:text-3xl font-bold">4. Check your programming task results</div>
<main>

  <% if @student.status_task_submitted? %>

    <div class="mt-4 font-semibold text-xl text-primary-500">Your submission is currently queued for review</div>
    <p class="mt-4">
      We received your task submission on:
      <span class="inline-block bg-primary-700 px-2 rounded mt-2 text-gray-900 font-bold"><%= @student.task_submissions.last.created_at.in_time_zone('Asia/Kolkata').to_s(:short_with_dayname) %></span>
    </p>
    <p class="mt-4">
      We review all submissions within 3 working days. We will email you after the review.
    </p>

    <p class="mt-4">And thanks for taking the time to work through the problem. We hope you enjoyed it.</p>

  <% end %>
</main>
