<main class="text-center">
  <%= form_tag(first_step_path, :multipart => true) do %>
    <div class="input mx-auto w-form-box">
      <label for="email">
        <p>Before we begin, please tell us your email address!</p>
        <%= email_field_tag 'email', nil, placeholder: "abc@xyz.com", class: 'email_input' %>
      </label>
    </div>

    <p>
      <%= submit_tag "Continue" %>
    </p>
  <% end %>
</main>
