@import "colors";

body > .admin-root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 32px;
}

table.admin-table {
  margin-top: 64px;
  padding: 8px;
  tr {

  }
  td {
    border-top: 1px solid rgba(234, 224, 224, 0.68);
  }

  tbody > tr:hover {
    background-color: rgba(243, 243, 239, 0.57);
  }

  td > p {
    margin: 0;
    padding: 8px;
  }
}
