@use "sass:color";

$active-bg-color: rgba(31, 192, 97, 0.5);
$active-bg-color-light: lighten($active-bg-color, 60%);
$active-bg-color-dark: rgba(31, 192, 97, 1);

$light-text-color: rgba(31, 192, 97, 1);
