@import "colors";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
}

body {
  line-height: 1.2;
}

body > .root {
  max-width: 640px;
  margin: 0 auto;
  padding: 64px 32px;
}

main {
  padding: 32px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
}

h4 {
  font-weight: normal;
  color: black;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

p, li {
  font-size: 20px;
  color: $light-text-color;
  line-height: 1.4;
}

ol > li {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: white;
}

.flash {
  padding: 8px 16px;
  margin-bottom: 32px;
  border-radius: 2px;
}

.flash-info {
  background-color: #fad721;
  color: black;
}

.flash-success {
  background-color: #19b619;
  color: white;
}

.flash-error {
  background-color: #ce0e0e;
  color: white;
}

p.highlight {
  font-size: 28px;
  color: #04044c;
}

.subdued {
  font-size: 14px;
  color: $light-text-color;
}

.emphasis {
  color: black;
}

.exposed-ceiling {
  max-width: 400px;
  overflow: hidden;
  font-size: 10px;
  color: #41474e;
  font-family: monospace;
  opacity: 0.6;
  margin-top: 128px;
}

@media only screen and (min-width: 1024px) {
  .exposed-ceiling {
    position: absolute;
    bottom: -512px;
    right: 48px;
    margin: 0;
    padding-bottom: 128px;
  }
}

.input {
  margin-bottom: 32px;
}

textarea, input[type=text], input[type=email], input[type=date], input[type=tel] {
  width: 400px;
  font-size: 20px;
  padding: 10px;
}

input[type=checkbox] {
  height: 30px;
  width: 30px;
}

textarea {
  height: 150px;
  font-size: 16px;
}

input[type=submit] {
  padding: 10px 20px;
  box-shadow: 1px 1px rgba(136, 136, 136, 0.6);
}

select {
  width: 400px;
  font-size: 20px;
  padding: 10px;
}

input.locked-input {
  opacity: 0.5;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  box-shadow: 3px 3px red;
}

.bg-green {
  color: rgba(54, 148, 76, 0.91);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.align-top {
  vertical-align: top;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-0 {
  margin-top: 0;
}

.mt-32 {
  margin-top: 32px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-32 {
  margin-right: 16px;
}

.w-24 {
  width: 24px;
}

.w-32 {
  width: 32px;
}

.w-16 {
  width: 16px;
}

.p-8 {
  padding: 8px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

@import "workflow";
@import "admin";


