@import "colors";

body > .review-root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 32px;
}

table.review-table {
  margin-top: 64px;
  padding: 8px;
  tr {

  }
  td {
    border-top: 1px solid rgba(234, 224, 224, 0.68);
  }

  tbody > tr:hover {
    background-color: rgba(243, 243, 239, 0.57);
  }

  td > p {
    font-size: 14px;
    margin: 0;
    padding: 8px;
  }
}


.ReviewPage nav.pagination span.page.current {
  font-weight: bold;
  text-decoration: none;
}

.ReviewPage nav.pagination span a {
  padding: 10px 24px;
}

.ReviewPage-text p {
  font-size: 16px;
  max-width: 500px;
}


.ReviewPage .radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.ReviewPage .radio-toolbar label {
  display: inline-block;
  background-color: #9b9b9b;
  padding: 10px 20px;
  font-size: 16px;
  border: 4px solid #444;
  border-radius: 4px;
}

.ReviewPage .radio-toolbar input[type="radio"]:checked + label {
  background-color:#bfb;
  border-color: #4c4;
}

.ReviewPage .radio-toolbar input[type="radio"]:focus + label {
  border: 4px dashed red;
}


