<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h4>CoronaSafe Engineering Fellowship Application</h4>
<p>
  Hello <%= @student.display_name %>,
</p>

<p>Thanks for applying!</p>

<p>
  Follow this link and begin your application now: <a href=<%= @url %>>fellowship application form</a>
</p>

<p>
  For any questions, please email us at <a href="mailto:fullstack@pupilfirst.org">fullstack@pupilfirst.org</a>
</p>

<p>We look forward to your application. Have a great day!</p>
</body>
</html>
