<p>
  Hello <%= @student.display_name %>,
</p>

<p>
  This is to let you know that <strong>we've received your code submission
  for the CoronaSafe Engineering Fellowship application</strong>. We appreciate your timely submission.
</p>

<p>
  We will be reviewing yours and all the other code submissions over the next three weeks.
  We will select the Top 30 applicants for the fellowship through this review.
</p>
<p>
  The list of selected applicants will be announced on or before <strong>January 10th, 2021</strong> on the
  <a href="https://fullstack.pupilfirst.org">course website</a>. Selected applicants will also be notified through email
  and phone.
</p>

<p>
  Thanks very much for your interest in the fellowship. We hope you had fun attempting the programming challenge.
</p>

<p>
  <em>
    The CoronaSafe Engineering Fellowship Team.
  </em>
</p>
