<p>
  <strong>
    Hello <%= @student.display_name %>,
  </strong>
</p>

<p>
  This is to let you know that <strong>we've received your code submission
  for the CoronaSafe Engineering Fellowship application</strong>.
</p>

<p>We will review all the code submissions and select 30 applicants for the fellowship.
  The list of selected applicants will be announced on or before <strong>January 10th, 2021</strong>.
  Selected applicants will be notified through email and phone.
</p>

<p>
  Thanks very much for your interest in the fellowship. We hope you had fun attempting the programming challenge.
</p>

<p>
  <em>
    The CoronaSafe Engineering Fellowship Team.
  </em>
</p>
