<% content_for :title do %>
  CoronaSafe Engineering Fellowship
<% end %>
<% content_for :subtitle do %>
  work on your application
<% end %>

<% content_for :salutation do %>
  <p>
    Hello <%= @student.display_name %>,
  </p>
<% end %>

<% content_for :title_button_text do %>
  Login
<% end %>

<% content_for(:title_button_link, @url) %>

<% content_for :body do %>
  <p>
    <strong>
      To login and work on your application, just click this link: <a href=<%= @url %>>fellowship application login</a>.
    </strong>
  </p>
  <%= render 'mailers/link_fallback', url: @url %>
  <p>
    For any questions, please email us at <a href="mailto:fullstack@pupilfirst.org">fullstack@pupilfirst.org</a>
  </p>

  <p>We look forward to your application. Have a great day!</p>
<% end %>
