$light-text-color: rgba(46, 47, 48, 0.8);

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 64px 32px;
  line-height: 1.2;
}

main {
  padding: 32px 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 48px;
}

h2 {
  font-size: 18px;
}

h3 {
  margin-top: 0;
}

h4 {
  font-weight: normal;
  color: black;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}
p, li {
  font-size: 20px;
  color: $light-text-color;
  line-height: 1.4;
}

ol > li {
  margin-bottom: 16px;
}

.flash {
  background-color: #fad721;
  color: black;
  padding: 4px 16px;
  margin-bottom: 32px;
}

p.highlight {
  font-size: 28px;
  color: #04044c;
}

.subdued {
  font-size: 14px;
  color: $light-text-color;
}

.emphasis {
  color: black;
}

fieldset {
  border: 1px solid rgba(120, 120, 120, 0.4);
  border-radius: 4px;
  padding: 24px;
  box-shadow: 1px 1px rgba(136, 136, 136, 0.6);
}

.input {
  margin-bottom: 32px;
}

input[type=text], input[type=email] {
  width: 400px;
  font-size: 20px;
  padding: 10px;
}

input[type=submit] {
  padding: 10px 20px;
  box-shadow: 1px 1px rgba(136, 136, 136, 0.6);
}


.bg-green {
  color: rgba(54,148,76,0.91);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.align-top {
  vertical-align: top;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-0 {
  margin-top: 0;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.w-24 {
  width: 24px;
}

.w-32 {
  width: 32px;
}

.w-16 {
  width: 16px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}
