$light-text-color: rgba(46, 47, 48, 0.8);

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 64px 32px;
  line-height: 1.2;
}

main {
  padding: 32px 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

h4 {
  font-weight: normal;
  color: black;
}

p, li {
  font-size: 20px;
  color: $light-text-color;
  line-height: 1.4;
}

p.highlight {
  font-size: 28px;
  color: #04044c;
}

.subdued {
  font-size: 14px;
  color: $light-text-color;
}

fieldset {
  border: 1px solid rgba(120, 120, 120, 0.4);
  border-radius: 4px;
  padding: 24px;
  box-shadow: 1px 1px rgba(136, 136, 136, 0.6);
}

.input {
  margin-bottom: 32px;
}

input[type=text], input[type=email] {
  width: 400px;
}

input[type=email] {
  font-size: 20px;
  padding: 10px;
}

input[type=submit] {
  padding: 10px 20px;
  box-shadow: 1px 1px rgba(136, 136, 136, 0.6);
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
