.workflow {
  padding: 8px 24px;
  color: black;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 16px;
}

.workflow-locked {
  opacity: 0.4;
}

.workflow-active {
  background-color: rgba(255, 193, 0, 0.3);
  box-shadow: 2px 2px rgba(255, 193, 0, 1);
}

.workflow-active a {
  color: black;
}

.workflow-complete {
}
